<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Post</title>
</head>
<body>
    <h2>Edit your post</h2>
    <p>Post id :<%= post.id %></p>
    <p>Post username :@<%= post.username %></p>
    <form method="post" action="/posts/<%=post.id%>?_method=PATCH"> <!-- In form there is only 2 methods to send request either a GET req or a POST req but we want PATCh,DELETE method. So to overcome install package called method-override($ npm install method-override). -->
        <textarea rows="10" cols="25" name="content"><%= post.content %></textarea>
        <button>Submit</button>
    </form>
</body>
</html>