<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RollDice Page</title>
</head>
<body>
    <!-- Interpolation Syntax : Interpolation refers to embedding expressions into marked up text.
        Tags :
        1)<%= %> Outputs the value into the template (HTML escaped)
    -->

    <h1>Dice gave value : <%= diceVal %></h1> <!-- diceVal data come from index.js file for interpolation. --> 
</body>
</html>