 <!-- Interpolation Syntax : Interpolation refers to embedding expressions into marked up text.
        Tags :
        1)<%= %> Outputs the value into the template (HTML escaped).
        2)<% %> Scriptlet tag for control-flow,no output.
        3)<%- %> Outputs the unescaped value(use HTML Tags) into the template.
-->
<%- include("includes/head.ejs") %>
<body>
    <h1>No such Account</h1>
    <%- include("includes/footer.ejs") %>
</body>
</html>