<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram Page</title>
</head>
<body>
    <!-- Interpolation Syntax : Interpolation refers to embedding expressions into marked up text.
        Tags :
        1)<%= %> Outputs the value into the template (HTML escaped)
    -->

    <h2>This page belongs to @<%= username %></h2>
    <button>Follow</button>
    <button>Message</button>
    
</body>
</html>